

.floating-box {
    display: inline-block;
    width: 300px;
    height: 350px;
    margin: 10px;
    border: 3px ;  /*cor da borda /solid #73AD21/ */
    text-align: center;
}



#img1 {
  width: 100px;
  height: 100px;
}

#mold {
    border: 0px solid black; /*modifica a moldura que contem as imagens*/
    padding: 60px 50px 75px 100px;
    background-color: white;
}


.fotos {
  width: 200px;
  height: 150px;
}

h2.bold{
  margin-top: 0px;
  margin-bottom: 30px;
  padding-right: 50px;
  padding-bottom: 30px;
  font-weight: bold;
  text-align: center;
}


s {
  color: red;
}


.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
 
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}


div.floating-box:hover 
{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}